{% extends 'to_center.html' %}
{% block content %}
    <form action="{% url 'step8' %}" method="post"
          enctype="multipart/form-data" class="form-group">
        <h1>Публикация данных</h1>

        <h2>Шаг 8: Задайте семантические атрибуты объектов</h2>
        {% if error %}
            <div class="alert alert-danger field-errors">
                {{ error }}
            </div>
        {% endif %}
        <table class="table-for-choosing-coord">
            <tr>
                <th>Атрибут</th>
                <th>обязательный</th>
                <th>фильтрация</th>
            </tr>
            {% for req, filter, index, disable, column in cols %}

                {#    REQUIRED = 0#}
                {#    FILTER = 1#}
                {#    INDEX = 2#}
                {#    DISABLED = 3#}
                {#    NAME = 4#}
{% if not disable %}
                <tr>
                    <td>{{ column }}</td>
                    <td>
                        <input type="checkbox" name="{{ column }}-required"
                               {% if req %}checked {% endif %}/>
                    </td>
                    <td>
                        <input type="checkbox" name="{{ column }}-filter"
                               {% if filter %}checked {% endif %}/>
                    </td>
                </tr>
 {% endif %}
            {% endfor %}
        </table>
        {% csrf_token %}
        <input type="submit" class="btn btn-info no-border-radius"
               value="Выбрать"/>
    </form>
{% endblock %}
