{% extends 'to_center.html' %}
{% block content %}
    <form action="{% url 'step1' %}" method="post" enctype="multipart/form-data" class="form-group">
        <h1>Публикация данных</h1>
        <h2>Шаг 1: загрузите источник данных</h2>

        <h3>Мы поддерживаем: {% for x in databases %}{{ x }}{% endfor %}</h3>

        <p class="help-block">Для отображения объектов на карте, выберите файл базы данных, в которой хранится иноформация о них</p>
        {% include "form.html" with form=form %}
        {% csrf_token %}
        <input type="submit" class="btn btn-info no-border-radius"/>
    </form>
{% endblock %}
