{% extends 'create.html' %}
{% block content %}
    <form action="{% url 'step4' %}" method="post" enctype="multipart/form-data" class="form-group">
    <h1>Шаг 4: выбор координат объектов</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <h3>{{ table }}</h3>
        <table>
            <tr>
                <td>Поля таблицы</td>
                <td>Координата X</td>
                <td>Координата Y</td>
            </tr>
            {% for column in columns %}
                <tr>
                    <td>{{ column }}</td>
                    <td><input type="radio" name="coord-X" value="{{ column }}"></td>
                    <td><input type="radio" name="coord-Y" value="{{ column }}"></td>
                </tr>
            {% endfor %}
            </br>
        </table>
        <input type="submit" class="btn btn-info no-border-radius"/>
    </form>
{% endblock %}
