{% extends 'to_center.html' %}
{% block content %}
    <form action="{% url 'step3' %}" method="post" enctype="multipart/form-data" class="form-group">
    <h1>Публикация данных</h1>
        <h2>Шаг 3: выберите карту, на которую хотите осуществить публикацию данных</h2>
        <p class="help-block">Публикация новых данных возможна на новую карту либо на уже ранее созданную карту.</p>
        <p class="help-block">Если вы хотите добавить данные на ранее созданную карту, выберите соответсвующее название карты из списка.</p>
        <p class="help-block">Если вы хотите создать новую карту, отметьте галочкой поле "Создать новую карту"</p>
        {% csrf_token %}
        {% if errors %}
            {% for error in errors %}
            <div class="alert alert-danger field-errors">
                {{ error }}
            </div>
            {% endfor %}
        {% endif %}
        <label for="created-maps">Доступные карты:</label>
        <table class="table-for-choosing-map">
            <tr>
                <th>Выбрать</th>
                <th>Название карты</th>
                <th>Описание</th>
            </tr>
{#            <tr>#}
{#                <td>#}
{#                    <div class="radio-btn-center-in-choose-map">#}
{#                        <input type="radio" name="map" value="{{ column.name }}" id="map-{{ column.name }}">#}
{#                        <label class="label-for-radio label-for-radio-map"#}
{#                               for="map-{{ column.name }}"> </label>#}
{#                    </div>#}
{#                </td>#}
{#                <td>Полезные ископаемые Свердловской области</td>#}
{#                <td>Карта содержит информацию о месторождениях Свердловской области</td>#}
{#            </tr>#}
            {% for map in maps %}
                <tr>
                    <td>
                        <div class="radio-btn-center-in-choose-map">
                            <input type="radio" name="map" value="{{ map.id }}" id="map-{{ map.id }}">
                            <label class="label-for-radio label-for-radio-map"
                                   for="map-{{ map.id }}"> </label>
                        </div>
                    </td>
                    <td>
                        {{ map.name }}
                    </td>
                    <td>
                        {{ map.description }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <div class="radio-btn-center-in-choose-map">
                        <input type="radio" name="map" value="new" id="map-new">
                        <label class="label-for-radio label-for-radio-map" for="map-new"></label>
                    </div>
                </td>
                <td>
                    <input type="text" name="map-name" class="create-new-map" placeholder="Название карты"/>
                </td>
                <td>
                    <textarea name="map-description" class="create-new-map"  placeholder="Описаниие карты"></textarea>
                </td>
            </tr>
        </table>
        </br>
        <p>Задайте название публикуемого набора данных</p>
        <input type="text" name="dataset-name" class="create-new-map" placeholder="Название набора данных"/>
        <input type="submit" class="btn btn-info no-border-radius" value="Создать"/>
    </form>
{% endblock %}