{% extends 'create.html' %}
{% block content %}
    <form action="{% url 'step4' %}" method="post" enctype="multipart/form-data" class="form-group">
    <h1>Шаг 4: выбор координат объектов</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Таблица: {{ table }}</h3>
        <p>Укажите координаты объектов, для того, чтобы отобразить их на карте</p>
        {% if error != 0 %}
            <div class="alert alert-danger field-errors">
                {{ error }}
            </div>
        {% endif %}
        <table class="table-for-choosing-coord">
            <tr>
                <th>Поля таблицы</th>
                <th>Широта</th>
                <th>Долгота</th>
            </tr>
            {% for column in columns %}
                <tr>
                    <td>{{ column }}</td>
                    <td>
                        <input type="radio" name="coord-X" value="{{ column }}" id="coord-X-for-{{ column }}">
                        <label class="label-for-radio label-for-radio-coords" for="coord-X-for-{{ column }}"> </label>
                    </td>
                    <td>
                        <input type="radio" name="coord-Y" value="{{ column }}" id="coord-Y-for-{{ column }}">
                        <label class="label-for-radio label-for-radio-coords" for="coord-Y-for-{{ column }}"> </label>
                    </td>
                </tr>
            {% endfor %}
            </br>
        </table>
        <input type="submit" class="btn btn-info no-border-radius"/>
    </form>
{% endblock %}
