{% extends 'to_center.html' %}
{% block content %}
    <form action="{% url 'step3' %}" method="post" enctype="multipart/form-data" class="form-group">
    <h1>Публикация данных</h1>
        <h2>Шаг 3: выберите карту, на которую хотите осуществить публикацию данных</h2>
        <p class="help-block">Публикация новых данных возможна на новую карту либо на уже ранее созданную карту.</p>
        <p class="help-block">Если вы хотите добавить данные на ранее созданную карту, выберите соответсвующее название карты из списка.</p>
        <p class="help-block">Если вы хотите создать новую карту, отметьте галочкой поле "Создать новую карту"</p>
        {% csrf_token %}
        <label for="created-maps">Созданные карты:</label>
        <table class="table-for-choosing-map">
            <tr>
                <th>Выбрать</th>
                <th>Название карты</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td>
                    <div class="radio-btn-center-in-choose-map">
                        <input type="radio" name="map" value="{{ column.name }}" id="map-{{ column.name }}">
                        <label class="label-for-radio label-for-radio-map"
                               for="map-{{ column.name }}"> </label>
                    </div>
                </td>
                <td>Полезные ископаемые Свердловской области</td>
                <td>Карта содержит информацию о месторождениях Свердловской области</td>
            </tr>
        </table>
        </br>
        <input type="checkbox" id="choose-create-new-map"  /><label for="create-new-map">Создать новую карту</label>
        <input type="text" id="name-of-new-map" class="create-new-map" placeholder="Полезные ископаемые"/>
        <textarea id="description-of-new-map" class="create-new-map"  placeholder="Описаниие создаваемой карты"></textarea>
        <input type="submit" class="btn btn-info no-border-radius" value="Создать"/>
    </form>
{% endblock %}