{% extends 'layout.html' %}
{% block head %}
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"
            type="text/javascript"></script>
    <script src="/static/add_points.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="map-content">
        <h1 class="center">CreateMaps</h1>

        <h2>{{ map.name }}</h2>
        <p>{{ map.description }}</p>

        <form action="." method="GET">
            <ul class="filters">
            </ul>
            <input class="btn btn-info" type="submit" value="фильтровать" />
        </form>

        <script>
            {% autoescape off %}
            var filters = {{ filters }};
            {% endautoescape %}

            var filter_extensions = [
                ["равен", 'exact'],
                ["равен без учета регистра", 'iexact'],
                ["содержит", 'contains'],
                ["содержит (без учета регистра)", 'icontains'],
                [">", 'gt'],
                [">=", 'gte'],
                ["<", 'lt'],
                ["<=", 'lte'],
                ["начинается с", 'startswith'],
                ["начинается с (без учета регистра)", 'istartswith'],
                ["заканчивается на", 'endswith'],
                ["заканчивается на (без учета регистра)", 'iendswith'],
                ["год", 'year'],
                ["месяц", 'month'],
                ["день", 'day'],
                ["день недели [2 (Пн), 3 (Вт), ..., 7 (Сб), 1 (Вс)]", 'week_day'],
                ["час", 'hour'],
                ["минута", 'minute'],
                ["None", 'isnull'],
                ["регулярное вырожение", 'regex'],
                ["регулярное вырожение (без учета регистра)", 'iregex']
            ];

            var select_field_name_html = "<select class='name'><option selected disabled hidden value=''></option>";
            for (var i = 0; i < filters.length; i++) {
                var x = filters[i];
                select_field_name_html += "<option value='" + x + "'>" + x + "</option>";
            }
            select_field_name_html += "</select>";

            var select_field_extension_html = "<select class='extension'><option selected disabled hidden value=''></option>";
            for (i = 0; i < filter_extensions.length; i++) {
                x = filter_extensions[i];
                select_field_extension_html += "<option value='" + x[1] + "'>" + x[0] + "</option>";
            }
            select_field_extension_html += "</select>";

            var select_field_value_html = "<input class='value' type=text>";

            var $filters = $('.filters');

            function add_filter() {
                var filter = $("<li class='filter'><input class='hidden-input' name='' value='' type='hidden'>" + select_field_name_html + select_field_extension_html + select_field_value_html + "</li>");
                var input = filter.find('.hidden-input');
                var select_name_1 = filter.find('.name');
                var select_name_2 = filter.find('.extension');
                var select_value = filter.find('.value');
                select_name_2.hide();
                select_value.hide();

                var input_name_1 = '';
                var input_name_2 = 'exact';
                var input_value = '';
                function update_input() {
                    var name = input_name_1 + "__" + input_name_2;
                    name = name.replace('__exact', '');
                    input.attr('name', name);
                    input.val(input_value);
                }

                select_name_1.change(function () {
                    console.log(this);
                    input_name_1 = select_name_1.val();
                    select_name_2.show();
                    update_input();
                });
                select_name_2.change(function () {
                    console.log(this);
                    input_name_2 = select_name_2.val();
                    select_value.show();
                    update_input();
                });
                select_value.change(function (){
                    console.log(this);
                    input_value = select_value.val();
                    update_input();
                });

                $filters.append(filter);
            }


            add_filter();

        </script>

        <div id="map"></div>

    </div>
    <div class="link-to-run-page">
        <a href="/" class="link-to-center">Стартовая страница</a>
    </div>
    <script>
        var None = '';
        {% autoescape off %}
            var YANDEX_DATA = {{ yandex }};
        {% endautoescape %}
        ymaps.ready(init);
    </script>
{% endblock %}

