{% extends 'to_center.html' %}
{% block content %}
    <form action="{% url 'registration' %}" method="post" enctype="multipart/form-data" class="form-group">
        <h1 class="center">Регистрация</h1>
        {% csrf_token %}
        <div class="login-and-registration-fields">
            {% include "form.html" with form=form %}
        </div>
        <input type="submit" class="btn btn-info no-border-radius input-to-center" value="Зарегистрироваться"/>
    </form>
    <div class="link-to-run-page">
        <a class="link-to-center">Стартовая страница</a>
    </div>
{% endblock %}
