{% extends 'to_center.html' %}
{% block content %}
     <div class="user-name">
     <p>Tanika <a>Выйти</a></p>
    </div>
        <h1 class="center">CreateMaps</h1>

        <label for="created-maps">Карты, с опубликованными мной данными:</label>
        <table class="table-for-choosing-map">
            <tr>
                <th>Название карты</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td><a>Полезные ископаемые Свердловской области</a></td>
                <td>Карта содержит информацию о месторождениях Свердловской области</td>
            </tr>
        </table>
        </br>
        <input type="submit" class="btn btn-info no-border-radius" value="Опубликовать данные"/>
    <div class="link-to-run-page">
    <a>Стартовая страница</a>
    </div>
{% endblock %}
