
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    color: #959595;
}

p, input, span, label, ul {
    color: #6E6D6D;
}

.main-content {
    width: 70%;
    /*height: 70%;*/
    padding: 0;
    margin: 20px auto;
}

#map {
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding: 0;*/
    /*margin: 0;*/
    width: 80%;
    height: 80%;
    border:1px solid #6E6D6D;
    float: right;
}

/*.created-map {*/
    /*width: 65%;*/
    /*height: 65%;*/
    /*border:1px solid #6E6D6D;*/
    /*float: right;*/
/*}*/

.no-border-radius {
    border-radius: 0;
}

.content {
    width: 100%;
    max-width: 730px;
    min-width: 230px;
    margin: 20px auto 40px auto;
    padding: 15px 40px 40px 40px;
    border: 1px solid #5bc0de;
    background-color: rgba(240, 248, 255, 0.35);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .075);
    /*position: relative;*/
}

.map-content {
    width: 100%;
    height:100%;
    background-color: rgba(240, 248, 255, 0.35);
    padding: 15px 40px 40px 40px;
}

.filters {
    float: left;
    width: 20%;
    height: 20%;
}

.filter {
    display: block;
}
input {
    margin: 20px 0;
}

.label-for-radio, .label-for-radio-tables, .label-for-radio-map {
    position: relative;
    cursor: pointer;
}

.label-for-radio::before,
.label-for-radio::after {
    position: absolute;
    content: '';
    border-radius: 50%;
}

.label-for-radio-tables::before {
    top: 4px;
    left: -25px;
}

.label-for-radio-tables::after {
    top: 2px;
    left: -27px;
}

.label-for-radio-coords::before,
.label-for-radio-map::before {
    top: -5px;
    left: 4px;
}

.label-for-radio-coords::after,
.label-for-radio-map::after{
    top: -7px;
    left: 2px;
}

.label-for-radio::before {
    width: 12px;
    height: 12px;
    border: solid 2px #5a5a5a;
}

.label-for-radio::after {
    width: 16px;
    height: 16px;
    background-color: #5bc0de;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.28s;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked ~ .label-for-radio::after {
    transform: scale(1.1)
}

.p-for-tables {
    display: none;
}

.button-for-table, .button-for-field {
    width: 13px;
    height: 13px;
    padding: 0;
}

.icons {
    font-size: 9px;
    color: white;
    top: -6px;
    left: 0;
}

.glyphicon-minus {
    left: -1px;
}

.btn-for-table {
    position: relative;
}

.checked-btn-for-table, .checked-btn-for-field {
    display: none;
}

.button:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 16px;
    top: 0;
    z-index: 1;
    /*background: rgba(238, 238, 238, 0.9);*/
    color: #7e7e7e;
    font-family: Arial, sans-serif;
    font-size: 12px;
    /*padding: 1px;*/
    /*border: 1px solid #c9c9c9;*/
}

.table-for-choosing-coord, .table-for-fields-with-path, .table-for-choosing-map {
    width: 100%
}

.table-for-choosing-coord th, .table-for-fields-with-path th{
    text-align: center;
}

.table-for-choosing-coord td, .table-for-choosing-coord th, .table-for-choosing-map td, .table-for-choosing-map th {
    border: 1px solid #5bc0de;
    padding: 10px 10px 15px 10px;
}

.table_fields {
    margin-bottom: 20px;
}

.spoiler__content {
    /*display: none;*/
}

.errorlist {
    padding-left: 0;
}

.errorlist li {
    list-style-type: none;
}

label[for="id_file"] {
    display: none;
}

#id_file {
    margin-bottom: 0;
}

.field-errors {
    /*margin-bottom: 0;*/
    padding: 5px;
}

.field-input input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tables {
    padding-left: 25px;
}

.table, .btn-for-table {
    display: inline;
}

.radio-btn-center-in-table, .radio-btn-center-in-choose-map{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.label-for-checkbox {
    font-weight: normal;
}

.table-for-fields-with-path {
      margin: 30px 0 15px 0;
}

.check-box-for-choose-fields {
    display: inline-block;
    /*width: 25%;*/
    /*text-align: center;*/
    width: 20px;
    float: right;
}

.first-field {
    margin: 0 20px;
}

.second-field {
    width: 150px;
    margin: 0;
}

.table-cell-for-choose-fields {
    width: 42px;
}

.second-field input {
    width: 130px;
    margin: 0;
}

.field {
    display: inline-block;
    width: 50%;
}

ul {
    padding-left: 15px;
}

input[type='submit'], .create-new-map {
    display: block;
}

select {
    margin:10px 0;
}

 textarea {
      width: 100%;
     max-width: 100%;
}

 .label-created-maps {
     display: inline;
     font-weight: normal;
 }

 .center {
     text-align: center;
 }


 .enter-or-registration {
     margin: 20px 0;
 }

 .table-for-choosing-map {
     margin-top: 10px;
 }

 input {
     display: block;
 }

 .input-to-center {
     margin: 20px auto;
 }

 .link-to-run-page, .link-to-login {
     text-align: center;
 }

 .user-name {
       text-align: right;
 }

 /*.registration-and-authentications {*/
     /*width:40%;*/
 /*}*/

.field input {
    width: 100%;
}

.login-and-registration-fields .field {
    width:100%
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.login-and-registration-fields {
    width:40%;
    margin: 0 auto;
}

.types .text {
    margin-left: 20px;
}
