{% extends 'to_center.html' %}
{% block content %}
    <form action="{{ app_path }}" method="post" enctype="multipart/form-data"
          class="form-group registration-and-authentications">
        <h1 class="center">Вход</h1>

        {#        <div class="alert alert-danger field-errors">#}
        {#                    Пожалуйста, введите корректные имя пользователя и пароль. Оба поля могут быть чувствительны к регистру.#}
        {#</div>#}
        {% csrf_token %}
        <div class="login-and-registration-fields">
        {% include "form.html" with form=form %}
            </div>
        <input type="submit"
               class="btn btn-info no-border-radius input-to-center"
               value="Войти"/>
    </form>
    <div class="link-to-run-page">
        <a href="/" class="link-to-center">Стартовая страница</a>
    </div>
{% endblock %}
